#sidebar-wrapper {

left: -250px;
top: 0;
width: 250px;
background-color: #FFEEF2ef;
color: #595758;
position: fixed;
height: 100%;
z-index: 1;
overflow-y: scroll;
}
.sidebar-nav {
position: absolute;
top: 0;
margin: 0;
padding: 0;
width: 250px;
list-style: none;
margin-top: -1px;
}
.sidebar-nav li {
text-indent: 20px;
line-height: 50px;
}
.sidebar-nav li a {
color: #595758;
display: block;
text-decoration: none;
}
.sidebar-nav li a:hover {
background: rgba(255,255,255,0.25);
color: #595758;
text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
transition: all 0.3s ease-out;
margin-left: -250px;
}
@media (min-width: 768px) {
#sidebar-wrapper.sidebar-toggle {
transition: 0s;
left: 250px;
}
}


.navy-gary {
background-color: transparent;
  border: none;
  min-height: auto;
  margin: 0;
  /* visibility: hidden; */
}


div.navbar-header {
  color: #595758;
  border: 0px;
}

a.menu-toggle {

    background-color: #FFEEF2;
    color: #0C0F0A;
}

span.icon-bar {
  background-color: #FFEEF2;
  color: #595758;}



  .navbar-default .navbar-toggle .icon-bar {

    color: #595758;

}

.navbar-toggle {
  background-color: #FFEEF2;
  display: fixed;
  right: 1rem;
  top: 0;
}

a.side {
background-color:inherit;
}
