body {


  font-family: 'Spectral', sans-serif;
}

h1, h2, h3, h4 {
font-family: 'Comfortaa', sans-serif;
}
.edu {
  text-indent:-10%;
}

h2 {text-align: right;
  text-decoration: overline;)
}

h3 {text-align: left;
  text-decoration: underline;)
}

.text-center {
  padding-top: 20px;
}


.embed-responsive.embed-responsive-ilpdglj {
  padding-bottom: 28%;
}

.embed-responsive.embed-responsive-1by1 {
  padding-bottom: 100%;
}
