<html lang = "en">
    <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
     <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Major+Mono+Display&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Garrett Laroy Johnson website" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% seo "" %}
    </head>
    <body>

  
     <div class="links">
          <h2>GARRETT LAROY JOHNSON</h2>
          <span class="divider">|</span>
          <a href="/about">ABOUT</a>
          <span class="divider">|</span>
          <a href="/projects">PROJECTS</a>
          <span class="divider">|</span>
          <a href="/now">NOW</a>
          <span class="divider">|</span>
          <a href="/teaching">TEACHING</a>
        </div>



<main>
       {# Page or post content will appear here #}
  
    <h2>{{ title }}</h2>

    {{ content | safe }}

      <footer class="footer">
       
      
      </footer>
    </main>

    </body>

    </html>