body {
  font-size: 26pt;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Golos Text";
  background-color: #232121;
  color: #f5eccd;
}

#vimeo {
  padding-top: 16pt;
}

iframe {
  padding-top: 16pt;
}

.header {
  padding-top: 5pt;
}

main {
}

button {
  background-color: #232121;
  font-size: xx-large;
}

a {
  color: #6f2dbd;
  font-size: xx-large;
  transition-duration: 500ms;
  /* color: ; */
}

a:hover {
  /* color: #5bc3eb; */
  color: #1b065e;
  font-size: xxx-large;
  transition-duration: 500ms;
}

#links.a {
  color: #6f2dbd;
  font-size: xx-large;
  transition-duration: 1000ms;
  /* color: ; */
}

a:hover {
  /* color: #5bc3eb; */
  color: #1b065e;
  font-size: xxx-large;
  transition-duration: 500ms;
}

/* a:visited {
  color: #1b065e;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display";
}
